body{
    margin:0;
    font-family:Arial;
    padding:0;
    background-color: rgb(192, 211, 211);
}
.h1{
    margin:0;
}

.topnav{
    
    overflow:hidden;
    position:relative;


}
.topnav a{
    float: left;
    display: block;
    color:#f2f2f2;
    text-align:center;
    padding:13px 16px;
    text-decoration:none;
    font-size: 17px;
    margin-right:20px;
    margin-top: 5px;
}

.topnav a:hover{
    background-color: #264095;
    border-bottom: 2px solid orange;
    

}

.topnav a:active{
    background-color: rgb(4, 21, 15);
    color: chartreuse;
    

}

.topnav .icon{
    display: none;
 
}
@media screen and(max-width:600px){
    .topnav a:not(:first-child){
        display: none;
    }
    .topnav  a.icon{
        float:right;
        display:block;
    }

}

@media screen and (max-width:600px){
    .topnav.responsive{
        position:relative;
    }
    .topnav.responsive.icon{
        position:absolute;
        right:0;
        top:0;
    }
    .topnav.responsive a{
        float:none;
        display:block;
        text-align:center;
    }
}

.hero_main{
    position: relative;
    width:100%;
    background-image:linear-gradient(to right,rgba(0,0,0,0.9),rgba(0,0,0,0)),url("bsr-focus-nature-hero.jpg");
    background-position: center;
    background-size:cover;
    height:100vh;
    -webkit-clip-path:polygon(0 0,80% 0,100% 80%,0 100%);

}
.hero-text-box{
    position:absolute;
    width:1140px;
    top:50%;
    left:50%;
    right:50%;
    transform:translate(-50%,-50%);
    font-weight:300;
    font-size: 20px;

}
@media screen and (max-width: 1000px) {
    .hero-text-box{
        width:100%;
        font-size:20px;
    }
    .btn_1{
        background-color:rgb(230, 231, 232);
    }
    .btn_2{
        background-color:rgb(230, 235, 239);
    }
    
}

@media screen and (max-width:600px){
    .hero-text-box{
        width:100;
        font-size:20px;
        margin-left: 15px;
    }
   

}


.img_logo{
    width:5%;

}
.btn_1{
   
    text-decoration: none;
    font-size:20px;
    border-radius:20px;
    background-color: #65f4c4;
    padding: 8px 15px;
    border:2px solid aquamarine;
    transition-duration:0.3s;

}
.btn_1:hover{
    color: lavenderblush;
    background-color:#21624c ;
    border:3px solid #21624c;
}
.btn_2{
    text-decoration: none;
    font-size:20px;
    border-radius:20px;
    background-color: aquamarine;
    padding: 8px 15px;
    border:2px solid aquamarine;
    transition-duration:0.3s;

}
.btn_2:hover{
    color: lavenderblush;
    background-color:#21624c ;
    border:3px solid #21624c;
}
.btn_1:active{
    background-color: rgb(25, 126, 15);
}
.btn_2:active{
    background-color: rgb(25, 126, 15);
}

.section_globe{
    background-color: rgb(14, 166, 183);
    height:90vh;
    position:absolute;
    width:100vw;
    padding: 0%;

}
.jugnu{
    background-color: rgb(11, 137, 120);
}

.col_1_of_2{
    width:50%;
    float: left;
}


.globe head{
    text-align: center;

}
.row{
    text-align: center;
    text-transform:uppercase;
    margin-bottom: 70px;
    background-image:linear-gradient(to right,#ea1616,#0f12db);
    -webkit-background-clip:text;
    color: transparent;


}
.sub_head{
    text-transform: uppercase;
    font: size 30px;

}

.composition{
    position: relative;
    background-color: beige;
}
.composition_photo_1{
    position: absolute;
    width:53%;
    z-index:10;
    box-shadow:0 15px 40px rgba(0,0,0,0.4);

    opacity:1;
    right: 150px;
    top:2px;

    outline-offset:15px;


}
.composition_photo_3{
    position: absolute;
    width:53%;
    z-index:10;
    box-shadow:0 15px 40px rgba(0,0,0,0.4);

    opacity:1;
    left:20%;
    top:150px;
    outline-offset:15px;

}
.composition_photo_2{
    position: absolute;
    width:53%;
    z-index:10;
    box-shadow:0 15px 40px rgba(0,0,0,0.4);
    opacity:1;
    right:0;
    top:80px;
    outline-offset:15px;

}

.composition_photo_1:hover{
    transform:scale(1.05) translateY(-5px);
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
    z-index: 20;
    outline:20px solid #1a9885;
    

}
.composition_photo_2:hover{
    transform:scale(1.05) translateY(-5px);
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
    z-index: 20;
    outline:20px solid #1b0de1;
    

}
.composition_photo_3:hover{
    transform:scale(1.05) translateY(-5px);
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
    z-index: 20;
    outline:20px solid #0cedd6;
   

}
.composition:hover
.composition_photo_1:not(:hover){
    transform:scale(0.95);
    opacity:0;
}
.composition:hover
.composition_photo_3:not(:hover){
    transform:scale(0.95);
    opacity:0;
}
.composition:hover
.composition_photo_2:not(:hover){
    transform:scale(0.95);
    opacity:0;
}
.btnbtn-anchor{
    text-decoration: none;
    font-size:20px;
    border-radius:20px;
    background-color: aquamarine;
    padding: 7px 15px;
    border:2px solid aquamarine;
    transition-duration:0.3s;
    position: relative;

}
.btnbtn-anchor.hover{
    color: lavenderblush;
    background-color:#21624c ;
    border:3px solid #21624c;

}
.btnbtn-anchor.active{
    background-color: rgb(25, 126, 15);

}
@media screen and(max-width:600px){
    .composition_photo_1{
        position:relative;
        width:100%;
    }
}
@media screen and(max-width:600px){
        .composition_photo_1{
            position:relative;
            width:100%;
        }
    }
@media screen and(max-width:600px){
            .composition_photo_1{
                position:relative;
                width:100%;
            }
}

.feature{
    position:relative;
    background-image:linear-gradient( to right bottom,rgba(182,213,111,0.8),rgba(40,180,133,0.8)),url(alpe-di-siusi-sunrise-with-sassolungo-or-langkofel-royalty-free-image-1623254127.jpg);
    background-position: centre;
    background-size: cover;
    height:100vh;
    width:100vw;
    margin-top: 540px;
    padding: 0%;

    -webkit-clip-path:polygon(0 20%,100% 0,100% 80% ,0 100%);

}
.inner_fea{
    width:90%;
    position:absolute;
    margin-top:200px;
    margin-left:5%;
}

.gridcontainer{
    display:grid;
    grid-gap:50px 100px;
    grid-template-columns:auto auto auto auto;
    padding: 10px;
}

.gridcontainer_1{
    background-color:rgba(255,255,255,0.7);
    height: 50vh;
    width:80%;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 140px;
    position: relative;
    color:#575656;
    box-shadow:0 15px 40px rgba(0,0,0,0.4);
    margin-left: 30px;
    transition-duration: 0.4s;

}
.gridcontainer_2{
    background-color:rgba(255,255,255,0.7);
    height: 50vh;
    width:80%;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 140px;
    position: relative;
    color:#575656;
    box-shadow:0 15px 40px rgba(0,0,0,0.4);
    transition-duration: 0.4s;

}
.gridcontainer_3{
    background-color:rgba(255,255,255,0.7);
    height: 50vh;
    width:80%;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 140px;
    position: relative;
    color:#575656;
    box-shadow:0 15px 40px rgba(0,0,0,0.4);
    transition-duration: 0.4s;

}
.gridcontainer_4{
    background-color:rgba(255,255,255,0.7);
    height: 50vh;
    width:80%;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 140px;
    position: relative;
    color:#575656;
    box-shadow:0 15px 40px rgba(0,0,0,0.4);
    transition-duration: 0.4s;

}

.icon{
        
        box-sizing:border-box;
        padding-top: 10px;
        padding-bottom: 1px;
        color:rgba(182,213,111,0.8);
        font-size:30px ;
        
    
}
.feature-head{
    margin:10px 0;
    margin-top:50px;  
    font-size:18px;
    text-transform:uppercase;

}
.fea_text{
    text-align: center;
    
    

}
.gridcontainer_1:hover{
    transform: scale(1.2) translate(-7px);
    box-shadow:0 25px 40px rgba(0,0,0,0.5);


}
.gridcontainer_2:hover{
    
    transform: scale(1.2) translate(-7px);
    box-shadow:0 25px 40px rgba(0,0,0,0.5);


}
.gridcontainer_3:hover{
    
    transform: scale(1.2) translate(-7px);
    box-shadow:0 25px 40px rgba(0,0,0,0.5);


}
.gridcontainer_4:hover{
    transform: scale(1.2) translate(-7px);
    box-shadow:0 25px 40px rgba(0,0,0,0.5);


}



.container{
    background-color: rgb(231, 38, 211);
    border-radius: 10px;
    box-shadow:0 14px 28px rgba(0, 0, 0,0.25);
    position: relative;
    width:770px;
    max-width:100%;
    min-height:480px;



}

.form-container{
    position:absolute;
    top:0;
    height:100%;

}



.sign-up-container{
    left:0;
    width:50%;
    opacity:1;
    z-index:1;
}

.sign-in-container{
    right:0;
    width:50%;
    z-index:2;
    opacity:1;


}

.social-container a{
    border:1px solid #DDDDDD;
    border-radius:50%;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    margin:0 5px;
    height: 40px;
    width: 40px;
   
}



.main_forms{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    font-family: sans-serif;
    height:100vh;
    margin:-20px 0 50px;
}

form{
    background-color: #FFFFFF;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    padding:0 50px;
    height:100%;
    text-align: center;


}

input{
    background-color:#eee;
    border:none;
    padding: 12px 15px;
    margin:8px 0;
    width:100%;
}

.overlay{
    background:#FF416C;
    background:linear-gradient(to right,#FF416C);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:0 0;
    color:#FFFFFF;
    position: relative;
    left:-100%;
    height:100%;
    width:200%;
    transform:translate(0);
    transition:transform 0.6s ease-in-out;
    

}
.overlay-panel{
    position: absolute;
    display: flex;
    align-items:center;
    justify-content:center ;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top:0;
    height:100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}


.overlay-left{
    transform:translate(70%);
}
.oveerlay-right{
    right:0;
    transform:translate(0);
}

.container.right-panel-active.sign-in-container{
    transform:translateX(100%);
}

.sign-up-container{
    left:0;
    width:50%;
    opacity:1;
    z-index:1;
}
.container.right-panel-active.sign-up-container{
    transform:translate(100%);
    opacity:1;
    z-index:5;
    animation:show 0.6s;

}

@keyframes show{
    0%,49.99%{
        opacity: 0;
        z-index:5
    }
}

.overlay-container{
    position:absolute;
    top:0;
    left:50%;
    width:50%;
    height:100%;
    overflow:hidden;
    transition:transform 0.6s ease-in-out;
    z-index: 100;

}


.container.right-panel-active.overlay-container{
    transform:translate(-100%);
}


.container.right-panel-active.overlay{
    transform:translate(50%);

}


.container.right-panel-active.overlay-left{
    transform:translate(0);
}

.container.right-panel-active.oveerlay-right{
    transform:translate(20%);
}


.button{
    border-radius:20px;
    border:1px solid #FF4B2B;
    background-color: #FF4B2B;
    color:#FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding:12px  45px;
    letter-spacing: 1px;
    text-transform:uppercase;
    transition:transform 80ms ease-in-out;
}

button:active{
    transform:scale(0.95);

}

button:focus{
    outline:none;
}

button.ghost{
    background-color: transparent;
    border-color:#FFFFFF;

}


footer{
    background-color: #999090;
    padding:50px;
    font-size:80%;
}

footer-nav{
    list-style:none;
    float:left;

}

.social-links{
    list-style:none;
    float:right;
    size: 200px;
}

.footer-nav li,
.social-links li{
    display:inline-block;
    margin-right:20px;
}

.footer-nav li,
.social-links li:last-child{
    margin-right:0;

}

.footer p{
    color:#888;
    text-align: center;
    margin-top: 60%;
}

.A{
    margin-right: 30px;
    position: relative;
}